[core]
	autocrlf = false
[user]
	name = Patrick Wu
	email = wotingwu@live.com
	signingkey = 28AABD481C58C28D
[push]
        default = simple
[alias]
        yolo = !git add -A && git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
        cb = checkout -b
        bd = branch -d
        c = checkout
        m = merge
        s = status -s
        p = push
        ps = push --set-upstream origin
        l = pull
        io = pull origin master
        f = fetch
        repo = remote -v
        rr = remote rm origin
        ra = remote add origin
	ca = !git add -A && git commit -S -m
[gpg]
	program = "C:\\Users\\Patrick Wu\\scoop\\apps\\gpg\\current\\bin\\gpg.exe"
[credential]
	helper = manager
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[cola]
	spellcheck = false
