# exports
export GPG_TTY=$(tty)
export PATH="$HOME/go/bin:$PATH"

# alias
alias dchdate="date +'%a, %d %b %Y %T %z'"

# if bat is installed, alias cat to bat
if command -v bat >/dev/null 2>&1; then
    alias cat="bat"
fi

# when using kitty, use kitty +kitten ssh
[ "$TERM" = "xterm-kitty" ] && alias ssh="kitty +kitten ssh"

# vim:ft=sh
