# shellcheck disable=SC2148
# ignore SC2148 since this file is sourced by all shells

# load only if running in bash
if [ -n "${BASH_VERSINFO}" ]; then
  # load starship prompt if it is installed, else warn the user to install it
    if [ -f /usr/local/bin/starship ]; then
        eval "$(starship init bash)"
    else
        echo "starship is not installed. Install it with 'brew install starship'"
    fi
fi

#alias
alias open="xdg-open"