[user]
	email = me@patrickwu.space
	name = Jinming Wu, Patrick
[push]
	default = simple
[alias]
	yolo = !git add -A && git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
	cb = checkout -b
	bd = branch -d
	c = checkout
	m = merge
	s = status -s
	p = push
	ps = push --set-upstream origin
	l = pull
	io = pull origin master
	f = fetch
	repo = remote -v
	rr = remote rm origin
	ra = remote add origin
	ca = !git add -A && git commit -S -m
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[commit]
	gpgsign = true
[mergetool]
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git+ssh://callmepk@git.launchpad.net/"]
        insteadof = lp:
[pull]
	rebase = false
[init]
	defaultBranch = main
[http]
	#proxy = http://127.0.0.1:7890
[core]
	excludesFile = ~/.gitignore
	editor = nvim