[user]
	email = wotingwu@live.com
	name = Patrick J. Wu
[push]
	default = simple
[alias]
	yolo = !git add -A && git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
	s = status -s
	ca = !git add -A && git commit -m
[gui]
	fontui = -family \"DejaVu Sans\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 24 -weight normal -slant roman -underline 0 -overstrike 0
