<html ng-app="VDH">
	<head>
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="lib/angular-csp.css" type="text/css" rel="stylesheet">
	    <meta charset="UTF-8">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="aboutPanel.css" type="text/css" rel="stylesheet">
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="commonPanel.js"></script>
		<script src="aboutPanel.js"></script>
    </head>
	<body ng-controller="VDHAboutCtrl" ng-cloak ng-show="checkSize()">
		<div id="content">
			<div class="vdh-panel-title" vdh-l10n="about-vdh"></div>
			<div class="vdh-about-content">
				<div class="vdh-about-version">{{_('version',addon.version)}}</div>
				<div ng-show="versionType()=='alpha'" class="vdh-about-text" vdh-l10n="about-alpha-intro"></div>
				<div ng-show="versionType()=='beta'" class="vdh-about-text" vdh-l10n="about-beta-intro"></div>
				<br/>
				<div class="vdh-about-text" vdh-l10n="about-help"></div>
				<div class="vdh-about-links"><a ng-click="goTo('howto')" vdh-l10n="about-go-howto"></a></div>
				<div class="vdh-about-text" vdh-l10n="about-support"></div>
				<div class="vdh-about-links"><a ng-click="goTo('support')" vdh-l10n="about-go-support"></a></div>
				<br/>
				<div vdh-locale-credits></div>
				<div class="vdh-about-seealso" vdh-l10n="other-products"></div>
				<div class="vdh-other-addon" ng-click="goTo('cphelper')" vdh-cphelper-ad></div>
			</div>
		</div>
	</body>
</html>
