<html ng-app="VDH">
	<head>
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="lib/angular-csp.css" type="text/css" rel="stylesheet">
	    <meta charset="UTF-8">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="actionsPanel.css" type="text/css" rel="stylesheet">
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="commonPanel.js"></script>
		<script src="actionsPanel.js"></script>
    </head>
	<body ng-controller="VDHActionsCtrl" ng-cloak ng-show="checkSize()">
		<div id="content">
			<div class="vdh-panel-title" vdh-l10n="actions"></div>
			<div class="actions-title">{{hit.title}}</div>
			<div ng-repeat="action in hit.actions" class="vdh-container action" ng-click="command(action)">
				<div>
					<div class="action-thumbnail">
						<img vdh-src="actions[action].icon"/>
					</div>
					<div class="action-details">
						<div class="action-title">{{actions[action].title}}</div>
						<div class="action-descr">{{actions[action].description}}</div>
					</div>
				</div>
			</div>
			<div>
				<input id="checkbox1" type="checkbox" ng-model="data.asDefault"/> <label for="checkbox1" vdh-l10n="action-as-default"></label>
			</div>
		</div>
	</body>
</html>
