<html ng-app="VDH">
	<head>
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="lib/angular-csp.css" type="text/css" rel="stylesheet">
	    <meta charset="UTF-8">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="blacklistPanel.css" type="text/css" rel="stylesheet">
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="commonPanel.js"></script>
		<script src="blacklistPanel.js"></script>
    </head>
	<body ng-controller="VDHBlacklistCtrl" ng-cloak ng-show="checkSize()">
		<div id="content">
			<div class="vdh-panel-title" vdh-l10n="add-to-blacklist"></div>
			<div class="vdh-panel-help" vdh-l10n="add-to-blacklist-help"></div>
			<div class="blacklist-domains">
				<div ng-repeat="domain in domains">
					<input id="domain-{{domain}}" type="checkbox" ng-model="selected[domain]" /> 
					<label for="domain-{{domain}}" ng-bind="domain"></label>
				</div>
			</div>
			<div class="vdh-buttons">
				<button class="btn btn-success" vdh-l10n="blacklist-selected" ng-disabled="!hasSelection()"
					ng-click="blacklist()"></button>
			</div>
		</div>
	</body>
</html>
