
table {
	width: 100%;
	background-color: #fff;
	table-layout: fixed;
}

tr:nth-child(even) {
	background-color: #ccc;
}

td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.details-name {
	width: 100px;
	font-weight: bold;
}

.details-name {
	font-style: italic;
}

.details-full {
	background-color: #fff;
	margin-top: 6px;
}

.details-full-name {
	background-color: #555;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.details-full-value {
	padding: 4px;
	word-break: break-all;
}