
.vdh-opener {
	float: right;
	padding-right: 6px;
}

.hits-subtitle {
	background-color: #666;
	color: #fff;
	text-align: left;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 2px;
	padding: 2px 0 2px 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow:-1px 2px rgba(0,0,0,0.5);
}

.compact .hits-subtitle {
	padding: 0 0 0 6px;
	margin-top: 2px;
	margin-bottom: 1px;
}

.hits-subtitle.vdh-error {
	background-color: #c33;
}

.hits-subtitle > .vdh-panel-button {
	float: right;
	margin-right: 4px;
}

.hit {
	border: 1px inset #888;
	margin: 0px;
	padding: 4px;
	border-radius: 4px;
	position: relative;
	background-color: #fff;
}

.compact .hit {
	padding: 2px 0;
}

.hits-adp-grey {
	background-color: #eee;
}

.hit:hover {
	background-color: #1F80E0;
	color:white;
}

.hit-running, .hit-orphan {
	background-color: transparent;
}

.hit-descr {
	text-align: left;
}

.hit-descr > div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hit-title {
	font-size: 12pt;
	font-weight: bold;
}

.compact .hit-title {
	font-size: 10pt;
}

.hit-summary {
	font-size: 8pt;
	text-decoration: italic;
}

.compact .hit-summary {
	font-size: 7pt;
}

.hit-summary img {
	width: 12px;
	height: 12px;
	filter: contrast(50%) saturate(50%);
}

.hit-summary img {
	width: 8px;
	height: 8px;
}

.hit-progress {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: #0f0;
	z-index: -10;
	opacity: .5;
	transition: width 1s;
}

.hit-progress-orphan {
	background-color: #000;
	opacity: .1;
	transition: width 5s;
}

.hit-actions {
	width: 40px;
	vertical-align: center;	
}

.hit-default-action {
	display:inline-block;
	width: 20px;
	height: 20px;
	margin: 2px;
	float: left;
}

.hit-title-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.hit-title-text-left {
	direction: rtl;
}

.hit-title-text-multiline {
	overflow: visible;
	white-space: normal;
	text-overflow: clip;
}

.compact .hit-default-action {
	height: 12px;
	padding: 1px;
}

.hit-default-action > img {
	filter: contrast(50%) saturate(50%);
	width: 20px;
}

.compact .hit-default-action > img {
	width: 12px;
}

.hit-thumbnail {
	width: 36px;
	text-align: left;
}

.hit-thumbnail > img {
	max-width: 30px;
	height: 24px;
}
.compact .hit-thumbnail > img {
	width: 20px;
	margin-left: 6px;
}

.hit-adp {
	overflow: hidden;
	width: 2rem;
}

.hit-adp > div {
	text-align: center;
	color: White;
	background-color: #222;
	width: 5rem;
	margin-left: -1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.hit-plus-but  {
	width: 35px;	
	height: 35px;	
} 
.hit-plus-but > img {
	width: 100%;	
	height: 100%;	
} 

.hit-descr-button {
	filter: invert(100%);
}

.hit-descr-button:hover {
	filter: invert(0);
	cursor: alias;
}

.compact .hit-plus-but  {
	width: 26px;	
	height: 26px;	
} 
.hit-operation {
	font-weight: bold;	
}

.nothing-to-do {
	color: #aaa;
	text-align: center;
	margin: 12px 0 12px 0;
}

.hits-animation.ng-enter,.hits-animation.ng-leave,.hits-animation.ng-move {
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
	position: relative;
	left: 0px;
}

.hits-animation.ng-enter {
	xopacity: 0;
	max-height:0px;
}

.hits-animation.ng-enter.ng-enter-active {
	xopacity: 1;
	max-height:48px;
}

.hits-animation.ng-leave {
	max-height:48px;
}

.hits-animation.ng-leave.ng-leave-active {

	max-height:0px;
}

.vdh-log {
	background-color: #eee;
	margin: 2px 0;
	padding: 4px;
	border-bottom: 1px solid #888;
}

.vdh-log.vdh-log-error {
	color: Red;
}

.vdh-commands {
	background-color: White;
	max-height: 60px;
	transition: max-height .5s;
	padding: 0 6px;
	overflow: hidden;
	margin-bottom: 4px;
	text-align: center;
}

.vdh-commands.vdh-closed {
	max-height: 0;
}

.vdh-commands > div {
	display: inline-block;
}

.vdh-commands > div:nth-child(n+2):before {
	content: "|";
	padding-right: 4px;
}

.compact .vdh-commands {
	font-size: 10px;
}

.vdh-main-shortcuts {
	overflow: hidden;	
	padding-bottom: 4px;
}

.vdh-main-shortcuts .vdh-dropdown {
	float: right;
}

.vdh-main-shortcuts .vdh-panel-button {
	width: 35px;
	height: 35px;
}

.vdh-main-shortcuts .vdh-panel-button > img {
	width: 30px;
	height: 30px;
}

