<html ng-app="VDH" ng-csp>
	<head>
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="lib/angular-csp.css" type="text/css" rel="stylesheet">
	    <meta charset="UTF-8">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="mozUxMainPanel.css" type="text/css" rel="stylesheet">
		<script type="text/ng-template" id="vdh-hit">
			<div  
				ng-click="action(defaultAction(hit),hit,$event)"
				vdh-track-mouse="hit"
				class="hit" ng-class="hitClass(hit)">
				<div class="vdh-container">
					<div>
						<div ng-show="hit.primary && (hit.thumbnailUrl || hit.thumbnail)" class="hit-thumbnail">
							<img vdh-src="hit.thumbnailUrl || hit.thumbnail"/>
						</div>
						<div class="vdh-fullwidth hit-descr">
							<div ng-show="hit.primary" class="hit-title">							
								<div ng-class="titleClass(hit)">{{hit.title}}</div>
							</div>
							<div class="hit-summary">
								<div class="hit-summary-action" title="{{actions[defaultAction(hit)].description}}">
									<img class="default-action" ng-src="{{actions[defaultAction(hit)].icon}}"/>
								</div>
								<img class="hit-descr-button" 
									ng-show="hit.primary && prefs['hits-goto-tab'] && hit.status=='inactive'" 
									src="images/icon-gototab-64.png" 
									title="{{_('hit.go-to-tab')}}" 
									ng-click="goToTab(hit); $event.stopPropagation();" />
								<img ng-show="hit._signature && hit._signature.length>0" src="images/icon-lock-64.png"/>
								<span ng-show="hit.operation" class="hit-operation">{{_(hit.operation)}}</span>
								{{description(hit)}}
							</div>
							
							<div ng-show="hit.status=='running'" class="hit-progress">
								<div ng-style="progress(hit)"></div>
							</div>
							
							<div ng-show="hit.status=='orphan'" class="hit-progress">
								<div vdh-orphan-timer="hit"></div>
							</div>
							
							
						</div>
						<!--
						<div class="hit-adp" ng-show="prefs['ui.adp.tag'] && (hit.status=='active' || hit.status=='inactive') && hit.adp">
							<div>ADP</div>
						</div>
						-->
						<!--
						<div class="hit-default-action">
							<div>
								<img class="default-action" ng-src="{{actions[defaultAction(hit)].icon}}"/>
							</div>
						</div>
						-->
						
						<div class="hit-actions" ng-click="moreActions(hit); $event.stopPropagation();">
							<div>
								<img class="more-actions" ng-src="images/icon-3dots-64.png"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>

		<style type="text/css">
			html {
				width: 500px;
			}
		</style>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="commonPanel.js"></script>
		<script src="mozUxMainPanel.js"></script>
    </head>
	<body ng-controller="VDHMainCtrl" ng-show="checkSize()">
		<div id="content" ng-class="{'actions-open':!!actionHit,'actions-open-locked':actionHitLocked}">

			<div class="actions">

				<div ng-repeat="action in actionHit.actions" class="vdh-container action" ng-click="command(action)">
					<div>
						<div class="action-thumbnail">
							<img vdh-src="actions[action].icon"/>
						</div>
						<div class="action-details">
							<div class="action-title">{{actions[action].title}}</div>
							<div class="action-descr">{{actions[action].description}}</div>
						</div>
					</div>
				</div>
				<div>
					<input id="checkbox1" type="checkbox" ng-model="data.asDefault"/> <label for="checkbox1" vdh-l10n="action-as-default"></label>
				</div>

			</div>

			<div id="main-content" ng-class="'section-'+section">
				<img id="back-active" ng-click="setSection('active')" src="images/icon-chevron-left-64.png"/>
				<img id="clear-logs"
					ng-class="{'clear-logs-shift':isWindowsPlatform() && isChromeBrowser() }"
					ng-show="section=='log'" ng-click="clearLogs()" src="images/icon-action-delete-64.png" title="{{_('clear-logs')}}"/>
				<div id="back-margin" ng-click="setSection('active')"></div>
				<div id="content-hits">
					<div class="media" ng-show="hitGroups.length>0 && section!='log'">
						<div ng-repeat="hitGroup in hitGroups">
							<div vdh-hit ng-repeat="hit in hitGroup"></div>
						</div>
					</div>
					<div class="no-media" ng-show="section=='active' && hitGroups.length==0 && section!='log'"">
						<h2 vdh-l10n="no-media-current-tab"></h2>
						<p vdh-l10n="no-media-to-process-descr"></p>
					</div>
					<div class="no-media" ng-show="section!='active' && hitGroups.length==0 && section!='log'"">
						<h2 vdh-l10n="no-media-to-process"></h2>
					</div>
					<div id="logs" ng-show="section=='log'">
						<div ng-repeat="log in logLogs" class="vdh-log" ng-class="'vdh-log-'+log.type">
							{{log.text}}
							<a ng-show="log.details" vdh-l10n="details-parenthesis" ng-click="logDetails(log)"></a>
						</div>
					</div>
				</div>
				<div class="footer-hspace"></div>
				<div id="content-footer">
					<div class="left-side">
					</div>
					<div class="right-side">
						<div class="separator">&nbsp;</div>
						<button ng-click="settings()" title="{{_('settings')}}">
							<img src="images/icon-settings-64.png"/>
						</button>
					</div>
					<div class="buttons">
						<div class="buttons-container">

							<div class="buttons-opener">
								<img src="images/icon-3dots-64.png"/>
							</div>
							<button ng-click="about()" title="{{_('about')}}">
								<img src="images/icon-about-64.png"/>
							</button>
							<button ng-click="sites()" title="{{_('supported-sites')}}">
								<img src="images/icon-sites-list-64.png"/>
							</button>
							<div class="separator">&nbsp;</div>
							<button  ng-show="canClear()" ng-click="clear('all')" title="{{_('clear-hits')}}">
								<img src="images/icon-action-delete-64.png"/>
							</button>


						</div>
				</div>
				<div class="groups">
						<div class="group group-active" ng-show="section!='active' && counters.active>0" ng-click="setSection('active')" title="{{_('in-current-tab')}}">{{counters.active}}</div>
						<div class="group-text" ng-show="shouldDisplayGroupText('active')" vdh-l10n="in-current-tab" ng-click="setSection('active')"></div>
						<div class="group group-inactive" ng-show="section!='inactive' && counters.inactive>0" ng-click="setSection('inactive')" title="{{_('in-other-tab')}}">{{counters.inactive}}</div>
						<div class="group-text" ng-show="shouldDisplayGroupText('inactive')" vdh-l10n="in-other-tab" ng-click="setSection('inactive')"></div>
						<div class="group group-orphan" ng-show="section!='orphan' && counters.orphan>0" ng-click="setSection('orphan')" title="{{_('orphan')}}">{{counters.orphan}}</div>
						<div class="group-text" ng-show="shouldDisplayGroupText('orphan')" vdh-l10n="orphan" ng-click="setSection('orphan')"></div>
						<div class="group group-pinned" ng-show="section!='pinned' && counters.pinned>0" ng-click="setSection('pinned')" title="{{_('pinned')}}">{{counters.pinned}}</div>
						<div class="group-text" ng-show="shouldDisplayGroupText('pinned')" vdh-l10n="pinned" ng-click="setSection('pinned')"></div>
						<div class="group group-running" ng-show="section!='running' && counters.running>0" ng-click="setSection('running')" title="{{_('running')}}">{{counters.running}}</div>
						<div class="group-text" ng-show="shouldDisplayGroupText('running')" vdh-l10n="running" ng-click="setSection('running')"></div>
						<div class="group group-log" ng-class="{'group-error':hasError()}" ng-show="section!='log' && logLogs.length>0" ng-click="setSection('log')" title="{{_('log')}}">{{logLogs.length}}</div>
						<div class="group-text" ng-show="shouldDisplayGroupText('log')" ng-click="setSection('log')">{{ hasError() ? _('errors') : _('logs')  }}</div>
				</div>
			</div>
			<div class="footer-hspace"></div>
			<div class="main-content-mask" ng-click="clearActionHit()"></div>
			<div class='main-bottom-action' ng-show="isWindowsPlatform() && isChromeBrowser()">
				<a ng-click="organizeVideos()" vdh-l10n="organize-videos"></a>
			</div>


			
		</div>
	</body>
</html>

