<html ng-app="VDH" ng-controller="VDHSitesCtrl">
	<head>
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="lib/angular-csp.css" type="text/css" rel="stylesheet">
	    <meta charset="UTF-8">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="sitesPanel.css" type="text/css" rel="stylesheet">
		<title vdh-l10n="supported-sites"></title>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="commonPanel.js"></script>
		<script src="sitesPanel.js"></script>
    </head>
	<body ng-cloak ng-show="checkSize()">
		<div id="content" class="vdh-container">
				<div>
					<div class="vdh-panel-title" vdh-l10n="supported-sites"></div>
				</div>
				<div>
					<div class="vdh-sites-list">
						<div>
							<div>
								<table>
									<thead>
										<tr class="header">
											<th ng-click="order('name')" ng-class="classes('name')"><div vdh-l10n="site-name"></div></th>
											<th ng-click="order('duration')" ng-class="classes('duration')"><div vdh-l10n="site-interest"></div></th>
											<th ng-click="order('rating')" ng-class="classes('rating')"><div vdh-l10n="site-rating"></div></th>
											<th ng-click="order('timestamp')" ng-class="classes('timestamp')"><div vdh-l10n="site-date"></div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="site in sites | orderBy : prefs['sites-order-field'] : prefs['sites-order-direction']" 
											ng-class="rowClasses(site)" ng-click="selected.value=site.id">
											<td>{{site.name}}</td>
											<td>{{site.duration}}</td>
											<td><span ng-show="site.rating>=0">{{site.rating}}</span>&nbsp;</td>
											 <td>{{site.timestamp * 1000 | date : 'shortDate' }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="vdh-buttons">
						<button class="btn btn-primary" vdh-l10n="visit-site" ng-disabled="!sitesMap[selected.value]" 
							ng-click="visit(sitesMap[selected.value])"></button>
					</div>
				</div>
		</div>
	</body>
</html>
