
#content {
	height: 100%;
}

.vdh-sites-list {
	width: 100%;
	background-color: White;	
	height: 100%;
}

.vdh-sites-list > div {
	position: relative;
	height: 100%;
	min-height: 300px;
}

.vdh-sites-list > div > div {
	margin: 8px 0;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

table {
	border-spacing: 0;
	width: 100%;
	height: 100%;
	font-size: 9pt;
	table-layout: fixed;
}

td+td {
	border-left: 1px solid transparent;
}

td,th {
	border-top: 1px solid #ccc;
}

tr.explicit {
	background-color: #fee;
}

tr.selected {
	background-color: #1F80E0;
	color: #fff;
}

tr.explicit.selected {
	background-color: #b009b0;
}

tr.hidden {
	display: none;
}


th {
	line-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
	width: 15%;
	overflow-x: hidden;
}

th div {
	position: absolute;
	padding: 9px 0;
	top: 0;
	line-height: normal;
	border-left: 1px solid transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15%;
}

th:first-child {
	width: 25%;
}

th:first-child div {
	border: none;
	max-width: 25%;
}

th.order-field div {
	background-repeat: no-repeat;
	background-image: url(images/icon-down-64.png);
	background-size: 16px;
	background-position: left;
}

th.order-field div {
	text-decoration: underline;
	padding-left: 20px;
}

th.order-reverse div {
	background-image: url(images/icon-up-64.png);
}

thead > tr {
	height: 35px;
}
