
.sm-label {
	font-weight: bold;
}

.sm-label.error {
	color: #f00;
}

.sm-text {
	background-color: #eee;
	border: 1px inset #000;
	color: #888;
	word-break: break-all;
	max-height: 40px;
	overflow: hidden;
}

.sm-xpath {
}

.sm-xpath > textarea {
	width: 100%;
	resize: none;
}

.sm-regexp > input {
	width: 100%;
}

.sm-advanced {
	text-align: right;
}

#content {
	background-color: White;
}