<html ng-app="VDH">
	<head>
		<link href="lib/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="lib/angular-csp.css" type="text/css" rel="stylesheet">
	    <meta charset="UTF-8">
		<link href="commonPanel.css" type="text/css" rel="stylesheet">
		<link href="smartnamesPanel.css" type="text/css" rel="stylesheet">
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="commonPanel.js"></script>
		<script src="smartnamesPanel.js"></script>
    </head>
	<body ng-controller="VDHSmartNamesCtrl" ng-cloak ng-show="checkSize()">
		<div id="content">
			<div class="vdh-panel-title" vdh-l10n="defining-smartname"></div>
			<div class="vdh-panel-help" vdh-l10n="defining-smartname-help"></div>
			<div class="sm-label" vdh-l10n="selected-text"></div>
			<div class="sm-text">{{data.text || '&nbsp;'}}</div>
			<div>
				<br/>
				<select ng-options="m.mode as m.text for m in smModes" ng-model="data.mode"></select>
				<br/>
			</div>
			<div class="sm-advanced">
				<input id="checkbox1" type="checkbox" ng-model="data.advanced"/>
				<label for="checkbox1" vdh-l10n="advanced"></label>
			</div>
			<div ng-show="data.advanced">
				<div ng-show="data.domains">
					<div class="sm-label" vdh-l10n="domain"></div>
					<div ng-show="data.domains.length==1">{{data.domains[0]}}</div>
					<select ng-show="data.domains.length>1" ng-model="data.domain" ng-options="domain for domain in data.domains"></select>
				</div>
				<div class="sm-label" vdh-l10n="xpath-expr" ng-class="{error:!data.validXPath}"></div>
				<div class="sm-xpath">
					<textarea ng-model="data.xpath"></textarea>
				</div>
				<div class="sm-label" vdh-l10n="smartname-regexp" ng-class="{error:!data.validRegexp}"></div>
				<div class="sm-regexp">
					<input type="text" ng-model="data.regexp"/>
				</div>
				<div class="sm-label" vdh-l10n="smartname.delay" ng-class="{error:!data.validDelay}"></div>
				<div class="sm-regexp">
					<input type="number" ng-model="data.delay"/>
				</div>
			</div>
			<div class="vdh-buttons">
				<button class="btn btn-success" vdh-l10n="save" ng-disabled="!data.validXPath || !data.validRegexp || !data.text" 
					ng-click="save()"></button>
			</div>
		</div>
	</body>
</html>
